.container {
  padding: 2rem;
}

#info {
  font-size: 1.4rem;
  margin-left: 7.5rem;
  margin-bottom: 1rem;
  font-family: var(--font-5);
  text-transform: capitalize;
}

.product-box {
  padding: 1rem;
  background-color: whitesmoke;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  gap: 6rem;
  min-width: 80vw;
  max-width: max-content;
  margin-inline: auto;
  margin-bottom: 3rem;
}

.product--img {
  width: 30rem;
  height: 20rem;
}

.product--img img {
  width: 30rem;
  height: 20rem;
  object-fit: contain;
}

.product--desc {
  padding-right: 3rem;
  min-width: 40%;
  padding-bottom: 2rem;
}

.product--desc h4 {
  font-size: 4rem;
  font-family: var(--font-4);
}

.product--desc > p {
  font-family: var(--font-1);
  max-width: 25rem;
  margin-bottom: 1.4rem;
}

#more-info {
  color: grey;
  font-family: var(--font-1);
}

.item--sizes {
  display: flex;
  gap: 1rem;
  margin-top: 0.4rem;
}

.sizes {
  background-color: white;
  padding: 0.4rem;
  border-radius: 0.3rem;
  min-width: 8rem;
  cursor: pointer;
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sizes:hover,
.sizes:focus {
  outline: 2px solid var(--highlight-bgcolor);
}

.sizes p {
  font-family: var(--font-1);
}

.sizes span {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: var(--font-2);
  letter-spacing: 1.5px;
  color: var(--highlight-bgcolor);
}

.btn {
  margin-top: 3rem;
  background-color: var(--yellow);
  border: none;
  border-radius: 0.3rem;
  padding: 0.2em 1em;
  font-family: var(--font-3);
  font-size: 1.1rem;
  min-width: 100%;
  cursor: pointer;
}

.similar-box {
  max-width: 80vw;
  margin-inline: auto;
  border-radius: 0.3rem;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.item {
  border-radius: 1rem;
  overflow: hidden;
  background-color: whitesmoke;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  max-width: 14rem;
}

.item:hover {
  scale: 1.02;
}

.item:hover #cart {
  translate: 0;
}

.item--img {
  max-height: 9rem;
  min-width: 14rem;
  max-width: 14rem;
  background-color: var(--yellow);
}

.item--img img {
  max-height: 8rem;
  min-width: inherit;
  max-width: inherit;
  object-fit: contain;
  object-position: center;
}

.item--info {
  padding: 0.8rem;
  position: relative;
}

.item--info h4 {
  font-size: 1.1rem;
  font-family: var(--font-4);
  color: black;
}
