{% extends "base.html" %}

{% load static %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/description.css' %}">
{% endblock %}

{% block title %}
Online Pizza | {{ dinner_platter.name }}
{% endblock %}

{% block body %}
<div class="container">
  <h4 id="info">Product Description</h4>
  <div class="product-box">
    <div class="product--img">
      <img src="{{ dinner_platter.itemimg.url }}" alt="{{ dinner_platter.name }}">
    </div>
    <div class="product--desc">
      <h4>{{ dinner_platter.name }}</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti,cum repellat omnis officiis aspernatur
        eius
        doloribus dolores, ducimus, accusantium iusto ipsam hic. Veritatis porro adipisci natus deleniti
        architecto
        odio
        corporis.</p>
      <form id="form" action="/new-order/{{ dinner_platter.id }}" method="post">
        {% csrf_token %}
        <div class="input">
          <label for="size">Select Size</label>
          <select name="size" id="size">
            <option value="{{ dinner_platter.price_small }}">Small - ${{ dinner_platter.price_small }}</option>
            <option value="{{ dinner_platter.price_large }}">Large - ${{ dinner_platter.price_large }}</option>
          </select>
        </div>
        <div class="input">
          <label for="quantity">Select Quantity</label>
          <select name="quantity" id="quantity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
        <button type="submit" class="btn">Add to Cart</button>
      </form>
    </div>
  </div>
  <h4 id="info">Same Category</h4>
  <div class="similar-box">
    {% for similar in other_dinner_platter %}
    {% if dinner_platter == similar %}
    {% else %}
    <a href="/description/{{ similar.name }}">
      <div class="similar">
        <div class="item">
          <div class="item--img">
            <img src="{{ similar.itemimg.url }}" alt="item image">
          </div>
          <div class="item--info">
            <h4>{{ similar.name }}</h4>
          </div>
        </div>
      </div>
    </a>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}